
<div class="container mt-5">
    <div class="row g-5">
        <div class="col-md-6 col-lg-4">
            <div class="mail-component shadow border  d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center content">
                    <div class="icon-box sent-mail">
                        <svg height="32" width="32">
                            <use href="/assets/images/icons/box-arrow-up.svg" width="32" height="32" />
                        </svg>
                    </div>
                    <span class="d-block">ارسال شده</span>
                </div>
                <span class="d-block number">7</span>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="mail-component shadow border d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center content">
                    <div class="icon-box received-mail">
                        <svg height="32" width="32">
                            <use href="/assets/images/icons/box-arrow-down.svg" width="32" height="32" />
                        </svg>
                    </div>
                    <span class="d-block">دریافت شده</span>
                </div>
                <span class="d-block number">7</span>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 ">
            <div class="mail-component shadow border d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center content">
                    <div class="icon-box trash-mail">
                        <svg height="32" width="32">
                            <use href="/assets/images/icons/trash.svg" width="32" height="32" />
                        </svg>
                    </div>
                    <span class="d-block">پاک شده</span>
                </div>
                <span class="d-block number">7</span>
            </div>
        </div>

    </div>
</div>