


    <div class="container my-3">
        <form class="autocomplete-form" autocomplete="off" action="#" novalidate>
            <h3>گیرنده</h3>
            <div class="autocomplete mb-3" style="width:300px;">
                <input class="form-control" id="myInput" type="text" name="myCountry" placeholder="نام کاربری گیرنده..."
                       required>
                <div class="invalid-feedback">
                    نام کاربری گیرنده وجود ندارد.
                </div>
            </div>
            <h3>موضوع</h3>
            <input name="" class="form-control mb-3" id="txtTitle" type="text" placeholder="موضوع نامه" required />
            <div class="invalid-feedback">
                موضوع را وارد کنید.
            </div>
            <h3>متن</h3>
            <textarea class="form-control" name="" id="txtBody" style="height: 50vh;">

            </textarea>
            <button class="px-4 my-3 btn btn btn-primary" type="submit">ارسال</button>
        </form>
    </div>

  
<script src="~/assets/js/auto-complete.js"></script>
